  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">{% if lang == "fr" %}Passion pour la musique{% else %}Passion for music{% endif %}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{% if lang == "fr" %}À propos{% else %}About me{% endif %}</h5>
          <p class="grey-text text-lighten-4">{% if lang == "fr" %}Mon amour pour le piano a commencé à l'âge de 17 ans. Ma formation comme prof de piano a commencé à la Sorbonne et à la Verhoog School of Music à Chicago, un laboratoire d'apprentissage musical. J'ai complété un apprentissage dans l'accord et la réparation des pianos auprès de Joseph Kahn en 2006. Je travaille en musique à plusieurs titres depuis maintenant 15 ans.{% else %}I started learning piano at the age of 17. Since then, I have been trained in piano teaching, especially for students with learning and physical difficulties, at the Verhoog School of Music in Chicago, a kind of learning laboratory. I completed an apprenticeship in piano tuning with Joseph Kahn. I’ve been working with pianos in many capacities for 15 years.{% endif %}</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">{% if page.lang == "fr" %}Mes services{% else %}My services{% endif %}</h5>
          <ul>
            <li><a class="white-text" href="{% if page.lang == "fr" %}https://accord.summerhays.net/index.html{% else %}https://accord.summerhays.net/index-en.html{% endif %}">{% if page.lang == "fr" %}L'accord et la réparation des pianos{% else %}Piano tuning and repair{% endif %}</a></li>
            <li><a class="white-text" href="{% if page.lang == "fr" %}https://piano.summerhays.net/index-fr.html{% else %}https://piano.summerhays.net/index.html{% endif %}">{% if page.lang == "fr" %}Cours de piano{% else %}Piano teaching{% endif %}</a></li></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
