  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">{% if lang == "fr" %}Passion pour la musique{% else %}A passion for music{% endif %}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/heintzman.jpg" alt="Heintzman piano"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{% if lang == "fr" %}À propos{% else %}About me{% endif %}</h5>
          <p class="grey-text text-lighten-4">{% if lang == "fr" %}Mon amour pour le piano a commencé à l'âge de 17 ans. Ma formation comme prof de piano a commencé à la Sorbonne et à la Verhoog School of Music à Chicago, un laboratoire d'apprentissage musical. J'ai complété un apprentissage dans l'accord et la réparation des pianos auprès de Joseph Kahn en 2006. Je travaille en musique à plusieurs titres depuis maintenant 15 ans.{% else %}I started learning piano at the age of 17. Since then, I have been trained in piano teaching, especially for students with learning and physical difficulties, at the Verhoog School of Music in Chicago, a kind of learning laboratory. I completed an apprenticeship in piano tuning with Joseph Kahn. I’ve been working with pianos in many capacities for 15 years.{% endif %}</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">{% if page.lang == "fr" %}Mes services{% else %}My services{% endif %}</h5>
          <ul>
       {% if page.lang == "fr" %}{% assign doclist = site.data.navigation.fr %}{% else %}{% assign doclist = site.data.navigation.en %}{% endif %}
       {% for each in doclist %}
        <li><a class="white-text" href="{{ each.link }}">{{ each.title }}</a></li>
        {% endfor %}
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
		  <form action="https://formspree.io/xaybodwa" method="POST" target="_blank">
      <li><input class="w3-input w3-border" type="text" style="width:100%" placeholder="{% if page.lang == "fr" %}Nom{% else %}Name{% endif %}" required name="{% if page.lang == "fr" %}Nom{% else %}Name{% endif %}"></li>
      <li><input class="w3-input w3-border" type="text" style="width:100%" placeholder="{% if page.lang == "fr" %}Courriel{% else %}Email{% endif %}" required name="{% if page.lang == "fr" %}Courriel{% else %}Email{% endif %}"></li>
      <li><input class="w3-input w3-border" type="text" style="width:100%" placeholder="{% if page.lang == "fr" %}Objet{% else %}Subject{% endif %}" required name="{% if page.lang == "fr" %}Objet{% else %}Subject{% endif %}"></li>
      <li><input class="w3-input w3-border" type="text" style="width:100%" placeholder="Message" required name="Message"></li>
      <li><button class="w3-button color-1-dark" type="submit">
          <i class="fa fa-paper-plane"></i> &nbsp;{% if page.lang == "fr" %}Envoyer{% else %}SEND MESSAGE{% endif %}
	      </button></li>
    </form>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by SummerhaySites
      </div>
    </div>
  </footer>
