<!DOCTYPE html>
<html lang="{% if page.lang == "fr" %}fr{% else %}en{% endif%}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.title}}">
  <meta name="keywords" content="{{ site.keywords}}">
  <meta name="author" content="{{ site.title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/w3.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/all.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
	    <a id="logo-container" href="#" class="brand-logo">&nbsp; <img src="/assets/images/keywave-S.png" style="width:100%;max-width:20px">ummerhays Piano <!--<img src="/assets/images/logo250.png" style="width:100%;max-width:58px">--></a>
      <ul class="right hide-on-med-and-down">
	      {% if page.lang == "fr" %}{% assign doclist = site.data.navigation.fr %}{% else %}{% assign doclist = site.data.navigation.en %}{% endif %}
	{% for each in doclist %}
        <li><a href="{{ each.link }}">{{ each.title }}</a></li>
        {% endfor %}
          </ul>
      </ul>

      <ul id="nav-mobile" class="sidenav">
	      {% if page.lang == "fr" %}{% assign doclist = site.data.navigation.fr %}{% else %}{% assign doclist = site.data.navigation.en %}{% endif %}
        {% for each in doclist %}
        <li><a href="{{ each.link }}">{{ each.title }}</a></li>
        {% endfor %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
	<!--  <h1 class="header center teal-text text-lighten-2">{% if lang == "fr" %}Piano Summerhays{% else %}Summerhays Piano{% endif%}</h1> -->
        <div class="row center">
		<!-- <h5 class="header col s12 brown-text light">{% if lang == "fr" %}L'enseignement et l'accord du piano{% else %}Piano teaching and tuning{% endif%}</h5> -->
		<h5 class="header col s12 brown-text light"> </h5>
		<h5 class="header col s12 brown-text light"> </h5>
        </div>
        <div class="row center">
          {% if page.lang == "fr" %}{% assign doclist = site.data.navigation.fr %}{% else %}{% assign doclist = site.data.navigation.en %}{% endif %}
	{% for each in doclist %}
          {% unless each.title == "English" or each.title == "Français" %}
        <a href="{{ each.link }}" id="download-button" class="btn-large waves-effect waves-light brown lighten-1">{{ each.title }}</a>
        {% endunless %}{% endfor %}
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/images/piano2.jpg" alt="Piano hand 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
		  <h2 class="center teal-text text-lighten-2"><i class="material-icons">{% if page.lang == "fr" %}touch_app{% else %}vpn_key{% endif %}</i></h2>
		  <h5 class="center">{% if page.lang == "fr" %}Une « touche » personnelle{% else %}Your "key" to success{% endif %}</h5>

		  <p class="light"><!--{% if page.lang == "fr" %}David peux ajouter à l'harmonie chez vous{% else %}David can help your home sound more harmonious{% endif %} --></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">{% if page.lang == "fr" %}David est recherché comme prof et comme technicien; votre satisfaction est garantie{% else %}Comes highly recommended, satisfaction guaranteed{% endif %}</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="fa fa-cog w3-margin-bottom w3-spin"></i></h2>
            <h5 class="center">{% if page.lang == "fr" %}Un partenaire dans votre réussite{% else %}A partner in your success{% endif %}</h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 teal-text light">{% if page.lang == "fr" %}L'ami de votre piano{% else %}Your piano's friend{% endif%}</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/me_piano_contrast.png" alt="Piano hand 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
	  <h4>{% if page.lang == "fr" %}Nous joindre{% else %}Contact Us{% endif%}</h4>
	  <p class="left-align light">{{ content }}</p>
        </div>
      </div>

    </div>
  </div>



    <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 teal-text light">{% if page.lang == "fr" %}La passion pour la musique{% else %}A passion for music{% endif %}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/heintzman.jpg" alt="Heintzman piano"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{% if page.lang == "fr" %}À propos{% else %}About me{% endif %}</h5>
          <p class="grey-text text-lighten-4">{% if page.lang == "fr" %}Mon amour pour le piano a commencé à l'âge de 17 ans. Ma formation comme prof de piano a commencé à la Sorbonne et à la Verhoog School of Music à Chicago, un laboratoire d'apprentissage musical. J'ai complété un apprentissage dans l'accord et la réparation des pianos auprès de Joseph Kahn en 2006. Je travaille en musique à plusieurs titres depuis maintenant 15 ans.{% else %}I started learning piano at the age of 17. Since then, I have been trained in piano teaching, especially for students with learning and physical difficulties, at the Verhoog School of Music in Chicago, a kind of learning laboratory. I completed an apprenticeship in piano tuning with Joseph Kahn. I’ve been working with pianos in many capacities for 15 years.{% endif %}</p>


        </div>
        <div class="col l3 s12">
          <h5 class="teal-text">{% if page.lang == "fr" %}Mes services{% else %}My services{% endif %}</h5>
          <ul>
		  <h3>{% if page.lang == "fr" %}Liens{% else %}Links{% endif%}</h3>
       {% if page.lang == "fr" %}{% assign doclist = site.data.navigation.fr %}{% else %}{% assign doclist = site.data.navigation.en %}{% endif %}
       {% for each in doclist %}
       {% unless each.title == "English" or each.title == "Français" %}
        <li><a class="white-text" href="{{ each.link }}">{{ each.title }}</a></li>
	{% endunless %}
        {% endfor %}
          </ul>
        </div>
        <div class="col l3 s12">
		<h5 class="white-text">{% if page.lang == "fr" %}Contact{% else %}Connect{% endif%}</h5>
          <ul>
		  <form action="https://formspree.io/xaybodwa" method="POST" target="_blank">
      <li><input class="w3-input" type="text" style="width:100%" placeholder="{% if page.lang == "fr" %}Nom{% else %}Name{% endif %}" required name="{% if page.lang == "fr" %}Nom{% else %}Name{% endif %}"></li>
      <li><input class="w3-input" type="text" style="width:100%" placeholder="{% if page.lang == "fr" %}Courriel{% else %}Email{% endif %}" required name="{% if page.lang == "fr" %}Courriel{% else %}Email{% endif %}"></li>
      <li><input class="w3-input" type="text" style="width:100%" placeholder="{% if page.lang == "fr" %}Objet{% else %}Subject{% endif %}" required name="{% if page.lang == "fr" %}Objet{% else %}Subject{% endif %}"></li>
      <li><input class="w3-input" type="text" style="width:100%" placeholder="Message" required name="Message"></li>
      <li><button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> &nbsp;{% if page.lang == "fr" %}Envoyer{% else %}SEND MESSAGE{% endif %}
	      </button></li>
    </form>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {% if page.lang == "fr" %}Fait par SiteSummerhays{% else %}Made by SummerhaySites{% endif %}
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
